<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-devoured="{{sleep}}">
        {{#if devoured}}HAS BEEN EATEN!{{else}}YOU CAN EAT IT!{{/if}}
    </button>

    <button class="burgerDelete" data-id="{{this.id}}">DELETE!</button>
</li>