<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-devoured="{{sleep}}">
        {{#if devoured}}DEVOUR IT!!{{else}}YOU CAN DO IT!{{/if}}
    </button>

    <button class="burgerDelete" data-id="{{this.id}}">Wait to devour it.</button>
</li>